@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root { /* VARIÁVEIS */
    --cor-1: #1A1423;
    --cor-2: #3D314A;
    --cor-3: #684756;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    flex-grow: 1;
}

.hero-img {
    height: 700px;
}