@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.hero {
    flex: 1;
    position: relative;

    color: var(--cor-1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
}

.hero * {
    width: fit-content;
}

.hero h1, .hero p {
    padding: 5px;
    background-color: var(--cor-branco);
}

.hero h1 {
    font-family: "UnifrakturMaguntia", cursive;
}

.hero p {
    color: var(--cor-2);
    font-style: italic;
}

.hero a {
    background-color: var(--cor-3);
    color: var(--cor-branco);

    padding: 10px 20px;

    border-radius: 20px;
    transition: .3s all;
}

.hero a:hover {
    background-color: var(--cor-1);
}

.hero-img {
    height: 600px;
    
    position: absolute;
    top: 50%;

    z-index: -1;
    transform: translateY(-50%);
}   
.hero-img.right {
    right: 0;
}