{% extends "base.html" %}

{% block head %} <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock %}

{% block title %}DAZAR COMICS{% endblock %}

{% block content %}
<div class="hero">
    <img class="hero-img" src="{{ url_for('static', filename='img/dazarherocollage.svg') }}" alt="">

    <h1>Preservando e compartilhando cultura;<br>sem limites</h1>
    <p>Scan e distribuição de HQs feito por quem cresceu online</p>
    <a href="/catalogo">Veja nosso catálogo</a>
</div>
{% endblock %}